<div class="container">
  <div class="header clearfix">
    {{!--Display nav bar--}}
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <ul class="nav nav-pills mr-auto">
                <li class="nav-item active">
                    <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/save">Saved Articles</a>
                </li>
            </ul>
        </nav>
    {{!--End of nav bar--}}    
  </div>
  
<div class="container-fluid article-container">
  {{!--Display the scraped titles, links, and article snippets in this section.--}}
  <div class="row">
    <h2><a href="{{result.link}}" target="_blank">{{result.title}}</a></h2>
    <p>{{result.summary}}</p>
  </div>
  <div class="row">
    <h5>Comments So Far</h5>
  </div>
  {{!--If no comments exist then display the following ptag info--}}
  <div class="row">
    {{#unless result.comment}}
    <p style="font-size: 12px">There are no comments just yet. Add yours below!</p>
    {{/unless}}
  </div>
  {{!--Iterate through the comments by author and their message, display them, and have the option to delete them from the user view (also deletes from our db --}}
  <div class="row">
    <ul>
      {{#each result.comment}}
      <li style="list-style: none">
        <h5>Name: {{this.name}} </h5>
        <p>Message: {{this.summary}}</p>
        <button class="delete-button btn btn-secondary" data-comment="{{this._id}}">Delete Comment</button>
      </li>
      {{/each}}
    </ul>
    
  </div>
  <div class="row">
    <h5>Say Something About This Article</h5>
  </div>
  {{!--Do a post method for the comment(s) a user adds and save it to the db--}}
  <form method="POST" action="/articles/{{result._id}}">
    <div class="form-group row">
      <label for="name" class="col-form-label">Name</label>
      <input class="form-control" type="text" name="name" id="name" required>
    </div>
    <div class="form-group row">
      <label for="body">Message</label>
      <textarea class="form-control" id="body" name="body" rows="3" required></textarea>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>