<div class="container">
  <div class="header clearfix">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <ul class="nav nav-pills mr-auto">
              <li class="nav-item active">
                    <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
            </ul>
      </nav>
  </div>
 
   <div class="jumbotron text-center">
    <div class="overlay">
    </div>
    <div class="background-image">
    </div>
    <div class="caption">
        <h1>Mongo Scraper</h1>
        <p>New York Times Edition</p>
    </div>
    </div>

  {{!--Display the scraped titles, links, and article snippets in this section.--}}
    <h3><a href="{{result.link}}" target="_blank">{{result.title}}</a></h3>
    <p>{{result.articleSnippet}}</p>
 
    <h5>Comments So Far:</h5>

  {{!--If no comments exist then display the following ptag info--}}

    {{#unless result.comment}}
    <p>There are no comments just yet. Add yours below!</p>
    {{/unless}}

  {{!--Iterate through the comments by author and their message, display them, and have the option to delete them from the user view (also deletes from our db --}}
  <div class="row">
    <ul>
      {{#each result.comment}}
      <li style="list-style: none">
        <p>Name: {{this.name}} </p>
        <p>Message: {{this.body}}</p>
        <button class="delete-button btn btn-danger" data-comment="{{this._id}}">Delete</button>
      </li>
      {{/each}}
    </ul>
  </div>
 <br>

    <h5>Say Something About This Article</h5>

    {{!--Do a post method for the comment(s) a user adds and save it to the db--}}
    <form method="POST" action="/articles/{{result._id}}">
      <div class="form-group">
        <label for="name" class="col-form-label">Name</label>
        <input class="form-control" type="text" name="name" id="name" required>
      </div>
      <div class="form-group">
        <label for="body">Message</label>
        <textarea class="form-control" id="body" name="body" rows="3" required></textarea>
      </div>
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  <br>
  <br>

 <footer class="footer">
  <div class="container">
    <p>New York Times Mongo Scraper</p>
  </div>
</footer>
</div>